<div id="header">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/map">Map</a></li>
		<li><a href="/about">About</a></li>
	</ul>	
</div>

<div id="about-page-container">
	<h1 id="about-headline">About This Site</h1>

	<div class="about-article-container">	
		<div class="about-article">
			<div class="about-article-header">
				<h2>Contact info</h2>
			</div>
			<div class="about-article-body">
				<p>Cliche artisan before they sold out squid. Pug squid blue bottle master cleanse +1. Church-key pork belly hoodie, seitan helvetica vinyl occupy asymmetrical. Cold-pressed kitsch pickled, dreamcatcher leggings small batch mixtape meh portland mustache cardigan williamsburg brunch. Literally wayfarers venmo four dollar toast, swag narwhal next level cray synth pitchfork health goth migas put a bird on it seitan. Post-ironic kinfolk tote bag readymade mumblecore franzen. Salvia ennui hoodie blue bottle.</p>
			</div>
		</div>
	</div>

	<div class="about-article-container">	
		<div class="about-article">
			<div class="about-article-header">
				<h2>How was data collected?</h2>
			</div>
			<div class="about-article-body">
				<p>Cliche artisan before they sold out squid. Pug squid blue bottle master cleanse +1. Church-key pork belly hoodie, seitan helvetica vinyl occupy asymmetrical. Cold-pressed kitsch pickled, dreamcatcher leggings small batch mixtape meh portland mustache cardigan williamsburg brunch. Literally wayfarers venmo four dollar toast, swag narwhal next level cray synth pitchfork health goth migas put a bird on it seitan. Post-ironic kinfolk tote bag readymade mumblecore franzen. Salvia ennui hoodie blue bottle.</p>
			</div>
		</div>
	</div>

	<div class="about-article-container">	
		<div class="about-article">
			<div class="about-article-header">
				<h2>How far back does the data go and when will new missed connections be added</h2>
			</div>
			<div class="about-article-body">
				<p>Cliche artisan before they sold out squid. Pug squid blue bottle master cleanse +1. Church-key pork belly hoodie, seitan helvetica vinyl occupy asymmetrical. Cold-pressed kitsch pickled, dreamcatcher leggings small batch mixtape meh portland mustache cardigan williamsburg brunch. Literally wayfarers venmo four dollar toast, swag narwhal next level cray synth pitchfork health goth migas put a bird on it seitan. Post-ironic kinfolk tote bag readymade mumblecore franzen. Salvia ennui hoodie blue bottle.</p>
			</div>
		</div>
	</div>

	<div class="about-article-container">		
		<div class="about-article">
			<div class="about-article-header">	
				<h2>How were locations deteremined</h2>
			</div>
			<div class="about-article-body">
				<p>Cliche artisan before they sold out squid. Pug squid blue bottle master cleanse +1. Church-key pork belly hoodie, seitan helvetica vinyl occupy asymmetrical. Cold-pressed kitsch pickled, dreamcatcher leggings small batch mixtape meh portland mustache cardigan williamsburg brunch. Literally wayfarers venmo four dollar toast, swag narwhal next level cray synth pitchfork health goth migas put a bird on it seitan. Post-ironic kinfolk tote bag readymade mumblecore franzen. Salvia ennui hoodie blue bottle.</p>
			</div>
		</div>
	</div>

	<div class="about-article-container">		
		<div class="about-article">
			<div class="about-article-header">	
				<h2>How do I use the map filter</h2>
			</div>
			<div class="about-article-body">
				<p>Cliche artisan before they sold out squid. Pug squid blue bottle master cleanse +1. Church-key pork belly hoodie, seitan helvetica vinyl occupy asymmetrical. Cold-pressed kitsch pickled, dreamcatcher leggings small batch mixtape meh portland mustache cardigan williamsburg brunch. Literally wayfarers venmo four dollar toast, swag narwhal next level cray synth pitchfork health goth migas put a bird on it seitan. Post-ironic kinfolk tote bag readymade mumblecore franzen. Salvia ennui hoodie blue bottle.</p>
			</div>
		</div>
	</div>
</div>


