<div id="home-container">

<div id="intro">
	<h1>Welcome</h1>
	<p id="intro-blurb">Every week hundreds of missed connections are posted to Craigslist in NYC.  Unforunately Craigslist only makes these posts available for up to seven days after the post date.  This site let's you explore missed connections past their expiration date with an interactive map.</p>
	<div>
		<p id="map-link"><a href="/map">map</a></p>
	</div>
</div>
		
</div>
