<div id="home-container">
<div id="header">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/map">Map</a></li>
		<li><a href="/about">About</a></li>
	</ul>	
</div>

<div id="intro">
	<h1>[Insert Site Title or Logo]</h1>
	<p id="intro-blurb">Every week hundreds of missed connections are posted to Craigslist in New York City.  Unforunately, Craigslist only makes these posts available for up to a week after publication.  This site lets you explore missed connections that are no longer available on Craigslist via an interactive map.  Get started by clicking the box below.</p>
	<div id="map-link">
		<p><a href="/map">map</a></p>
	</div>

	<p>Learn more about this project, our methodology and how to use the map <a href="/about"><u>here</u></a></p>
</div>
		
</div>
