
	<!-- <h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
 -->

<div id="mapdatecontrol">

	<form>
		<label>start date</label><input>
		<label>end date</label><input>
		<button type="submit">submit</button>
	</form>
</div>

<div id="mapcontrols">
 	<ul>
 		<li id="removemarkers" class="mapoption filter">Clear Map</li>
 		<li class="mapoption filter" id="addmarkers">All</li>
 		<li class="mapoption filter" id="m4m">M4M</li>
 		<li class="mapoption filter" id="m4t">M4T</li>
 		<li class="mapoption filter" id="m4w">M4W</li>
 		<li class="mapoption filter" id="t4m">T4M</li>
 		<li class="mapoption filter" id="t4t">T4T</li>
 		<li class="mapoption filter" id="t4w">T4W</li>
 		<li class="mapoption filter" id="w4m">W4M</li>
 		<li class="mapoption filter" id="w4t">W4T</li>
 		<li class="mapoption filter" id="w4w">W4W</li>
 	</ul>
</div>

<div id="map_container">
	<div id="loading" class="overlay standard hidden">&nbsp</div>
	<div id="map"></div>
</div>
    
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZuhGzk0_JhYU4ETFd9qehI13w99KQpOw&callback=initMap"></script>
