	<!-- <h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
 -->
 <div>
 	<ul>
 		<li class="mapoption" id="addmarkers">All</li>
 		<li class="mapoption" id="m4m">M4M</li>
 		<li class="mapoption" id="m4t">M4T</li>
 		<li class="mapoption" id="m4w">M4W</li>
 		<li class="mapoption" id="t4m">T4M</li>
 		<li class="mapoption" id="t4t">T4T</li>
 		<li class="mapoption" id="t4w">T4W</li>
 		<li class="mapoption" id="w4m">W4M</li>
 		<li class="mapoption" id="w4t">W4T</li>
 		<li class="mapoption" id="w4w">W4W</li>
 		<li id="removemarkers">Clear Map</li>
 	</ul>
 </div>
<div id="map_container">
	<div id="loading" class="overlay standard hidden">&nbsp</div>
	<div id="map"></div>
</div>
    
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZuhGzk0_JhYU4ETFd9qehI13w99KQpOw&callback=initMap"></script>
