
	<!-- <h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
 -->
<div id="header">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/map">Map</a></li>
		<li><a href="/about">About</a></li>
	</ul>	
</div>

<div id="controls" class="clear">	
	<div id="mapdatecontrol">
		<form id="dateform">
			<div class="filter-label">
				<p>Start Date</p>
			</div>
			<input type="text" placeholder=<%=@start_date%> name="start_date" class="datepicker">
			<div class="filter-label">
				<p>End Date</p>
			</div>
			<input type="text" placeholder=<%=@end_date%> name="end_date" class="datepicker">
			<div id="filter-header" class="filter-label">
				<p>Filter Options:</p>
			</div>
			<div id="mapcontrols">
			 	<ul>
			 		<li id="expand-options" class="mapoption filter">Options</li>
			 		<li id="removemarkers" class="mapoption filter">Clear Map</li>
			 		<div class="gender-group clear">
			 			<!-- <li class="mapoption filter" id="addmarkers">All</li> -->
			 		</div>
			 		<div class="gender-group">
					 		<li class="mapoption gender-option filter" id="m"> Men </li>	
					 		<li class="mapoption preference-option filter" id="m4m">Men for Men</li>
					 		<li class="mapoption preference-option filter" id="m4t">Men for Trans</li>
					 		<li class="mapoption preference-option filter" id="m4w">Men for Women</li>	
			 		</div>
			 		<div class="gender-group">
			 			<li class="mapoption gender-option filter" id="t"> Trans </li>	
				 		<li class="mapoption preference-option filter" id="t4m">Trans for Men</li>
				 		<li class="mapoption preference-option filter" id="t4t">Trans for Trans</li>
				 		<li class="mapoption preference-option filter" id="t4w">Trans for Women</li>
			 		</div>
			 		<div class="gender-group">
				 		<li class="mapoption gender-option filter" id="w"> Women </li>	
				 		<li class="mapoption preference-option filter" id="w4m">Women for Men</li>
				 		<li class="mapoption preference-option filter" id="w4t">Women for Trans</li>
				 		<li class="mapoption preference-option filter" id="w4w">Women for Women</li>
				 	</div>
			 	</ul>
			</div>
			<div id=filter-submit class="clear">	
				<button type="submit"><strong>Adjust Dates</strong></button>
			</div>
		</form>
	</div>
</div>

<div id="map_container" class="clear">
	<div id="loading" class="overlay standard hidden">&nbsp</div>
	<div id="map"></div>
</div>
    
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.24&key=AIzaSyAZuhGzk0_JhYU4ETFd9qehI13w99KQpOw&callback=initMap"></script>

