
$primary-color: #011019;
$font-color: #fff;
$primary-font: Verdana, Geneva, sans-serif;

#home-container{
	height: 100%;
	/*background-color: $primary-color;*/
	background: $primary-color url(subway.jpg) no-repeat;
	background-size: cover;
	width: 100%;

	h1, p {
		font-family: $primary-font;
		color: $font-color;
		a{
			text-decoration: none;
		&:visited {
      		color: $font-color;
    	}
    	&:link {
      		color: $font-color;
    		}
		}
	}
}

#intro {
	width: 500px;
	margin: 0 auto;
	position: fixed;
	top: 250px;
	left: 30px;

}

#intro-blurb{
	margin: 20px 0 20px 0;
}

#map-link {
	border: solid 1px;
	border-radius: 5px;
	border-color: $font-color;
	padding: 5px 10px 5px 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	transition: all .6s;

	width: 50px;
	text-align: center;

    &:hover {
	    background-color: #fff;
	    font-weight: bold;
	    a {
	    color: #011019; 	
	    }
    }
}