// Place all the styles related to the MissedConnections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*CSS Reset*/
.clear {
  clear: both;
  float: none;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

/*Detail Pages*/

#summary_container{
  height: 70%;
  margin: 10px, 10px, 10px, 10px;
  float: left;
  width: 60%;
}

#detail_page_summary {
  margin: 10px, 10px, 10px, 10px;
  max-width: 63%;
  /*float: right;*/
}

#detail_page_map_container {
  margin: 10px, 10px, 10px, 10px;
  /*max-width: 30%;*/
  height: 50%;
}

#detail_page_map {
  height: 100%;
}

#disqus_detail_page {
	margin: 10px, 10px, 10px, 10px;
	float: left;
	width: 30%;
}

/*INFOWINDOWS*/

/*.gm-style-iw is a google maps API class for infowindows*/
.gm-style-iw {
   width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   background-color: #fff;
   /*box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);*/
   /*border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px 2px 0 0;*/
}

.infowindow {
/*  height: 250px;
  width: 200px;
  border-radius: 2px 2px 10px 10px;

  margin: 0px;*/
}


/*Controls*/

#controls{
  background-color: #011019;
  top: 10%;
  z-index: 1;
  position: fixed; 
  left: 10px;
  opacity: .8;
  border-radius: 5px;
}

/*MAP FILTER OPTIONS*/
#mapcontrols {
  /*text-align: center;*/
  /*position: fixed;*/
  z-index: 1;
  /*top: 30%;*/
  left: 10px;
  background-color: #011019;
  opacity: .8;
  color: #fff;
  border-radius: 5px;

  li{
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    transition: background-color 1s, color 0.6s;
    list-style: none;

    &:hover {
      background-color: #fff;
      color: #011019;
    }
  }
}



.gender-group {
  float: left;
}

.preference-option {
  /*float: left;*/
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.preference-option.active {
  /*float: left;*/
  display: block;
  visibility: visible;
  opacity: 1;
  transition: all 1.5s;
}

/*MAP DATE FILTER*/
#mapdatecontrol {
  /*text-align: center;*/
  /*position: fixed;*/
  /*z-index: 1;*/
  /*top: 10%;*/
  left: 10px;
  background-color: #011019;
  color: #fff;
  opacity: .8;
  border-radius: 5px;

  input {
    display: block;
    margin: 15px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
  }

  button {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    margin: 0px 0px 5px 0px;
  }
}

/*LOADING IMAGE*/
#loading{

}

div#holder {
    position: relative;
}

.hidden {
    display: none;
}

div.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    z-index: 1;
}

div.overlay.standard { 
  background: #fff url(loading.gif-c200) no-repeat 50% 50%;
}

